* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

.divContainer{
   display: flex;
   flex-direction: row;
   width: 1024px;
}
.cardTable {
   min-width: 200px;
   border-radius: 0 !important;
   border: hidden;
}
.cardGrafico {
   border-radius: 0 !important;
   border: hidden;
}
.titulos{
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   color: #605d5f !important;
}
.divBtnAddCosecha{
   display: flex;
   flex-direction: row;
   margin-left: auto;
}
/* .btnAddCosecha {
   display: flex;
   flex-direction: row;
   margin-left: auto;
   border: none;
   font-size: 20px;
   color: #00b33c;
} */

@media only screen and (max-width: 1024px) {
  .divContainer{
     display: flex;
     flex-direction: column;
   }
   .cardTable {
     width: 100% !important;
  }
  .cardGrafico {
     width: 100% !important;
  }
  
}

/*No me acuerdo que era*/
:where(.css-dev-only-do-not-override-1dsa5t3) a {
  color: black;
}
:where(.css-dev-only-do-not-override-1wizrxm) a {
   color: #605d5f;
}

:where(.css-dev-only-do-not-override-1e67qka).ant-card {
   font-size: 14px;
}

