/* .ant-card ant-card-bordered css-dev-only-do-not-override-1wizrxm{
    height: 50px;
} */

/* :hover.selectCosecha{
    border: none;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}